[submodule "modules/httpserver/swagger-ui"]
	path = modules/httpserver-html5-gui/swagger-ui
	url = ../../cloudius-systems/swagger-ui.git
[submodule "modules/httpserver/osv-gui"]
	path = modules/httpserver-html5-gui/osv-gui
	url = ../../cloudius-systems/osv-gui.git
